/*
1. css border, padding, margin, height, width 
2. css box model 
3. float ok
4. box-sizing 
5. float clear 
6. overflow 
7. display 
8. css navigation bar (from w3 schools) 
9.  css position 
*/

nav{
    font: Georgia, serif;
    font-size: 30px;
    position: fixed;
    color: lightblue;
    clear: both;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;;
    background-color: darkblue;
}

nav a{
    text-decoration: none;
}

nav li{
    display: inline;
    padding: inherit;
    margin: 10px;
}

nav li:hover{
    background-color: cornflowerblue;
}


#content{
    padding-top: 60px;
}

h1{
    padding-top: 0;
    padding-left: 10px;
    margin-bottom: 1px;
}

p{
    padding: 5px;
}

#borderbox{
    border: 5px dashed green;
    padding: 20px;
    margin: 10px;
    height: 150px;
    width: 400px;
    box-sizing: border-box;
    text-align: justify;
    overflow: auto;
}

#contentbox{
    border: 5px dashed green;
    padding: 20px;
    margin: 10px;
    height: 150px;;
    width: 400px;
    box-sizing: content-box;
    text-align: justify;
    overflow: auto;
}


h3{
    margin: 5px 10px;
}

h4{
     display: inline;
     float: left; 
     margin: 5px 10px;
}



h5{

}


 